/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Hepta+Slab|Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;  
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Styling Variables */
:root {
  --accent-color: #555;
  --body-typeface: "Rubik", sans-serif;
  --main-heading: "Staatliches", cursive;
  --gradient: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
}


body {
  font-family: var(--body-typeface);
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* Making all images responsive */
img {
  max-width: 100%;
  height: auto;
}


/* Typography */

h1 {
  font-size: 6em;
  font-family: var(--main-heading);
  margin-bottom: .2em;
}

.hero-headline {
color: white;
}

/* Hyperlink Styles */
a {
  text-decoration: none;
  color: #444;
}
a:hover {
  color: #111;
}

p {margin-bottom: 1em;}



/* Work Page Layout */



/* Hero */

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: 600%;
  background-image: var(--gradient);
  animation: bg-animation 120s infinite alternate;
}

@keyframes bg-animation {
  0% {background-position: 0%;}
  100% {background-position: 100%;}
}


.hero-headline-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 4em 8em;
  text-align: center;
}

