/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/* Styling Variables */
:root {
  --accent-color: #555;
  --body-typeface: "Work Sans", sans-serif;
  --main-heading: 'Space Mono', monospace;
  --gradient: linear-gradient(45deg, #EEFC57, #5E5B52, #DF9A57, #FC7A57, #FCD757, #5B8266);
}


body {
  font-family: var(--body-typeface);
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



/* Making all images responsive */
img {
  max-width: 100%;
  height: auto;
}


/* Typography */

h1 {
  font-size: 6em;
  font-family: var(--main-heading);
  margin-bottom: .2em;
}

h2 {
  font-size: 4em;
  font-family: var(--main-heading);
  margin-bottom: .2em;
}
h3 {
  font-size: 2em;
  font-family: var(--main-heading);
  margin-bottom: .2em;
}

h4 {
  font-size: 1.5em;
  font-family: var(--main-heading);
  margin-bottom: .2em;
}

.hero-headline {
  color: rgb(0, 214, 132);
}

/* Hyperlink Styles */
a {
  text-decoration: none;
  color: rgb(85, 85, 85);
}

a:hover {
  color: rgb(0, 255, 157);
}

p {
  margin-bottom: 1em;
}



/* Work Page Layout */


.work-wrapper {
  flex: 1;
}

.portfolio {
  padding: 1rem;
}

/* Defining the work page grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-gap: rem;
  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width.  Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space.  */
}


.hero-footer {
  color: rgb(0, 214, 132);
}

.main-footer {
  min-height: 100vh;
  background: rgb(#0, 214, 1322);
}

.hero-footer,
.main-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: rem;
  text-align: center;
}








/* Hero */



.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
}

.logo {
  width: 6em;
}

.hero-headline-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 4em 8em;
  text-align: center;
}

.hero-headline {
  font-size: 3em;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

/* Hero */

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: 100%;
  background-image: url('https://lh3.googleusercontent.com/mo-K8rdkBOqXfwOek3vn1caHqobdIj0_Xi9u8K0XyyuGSW2nv4UfEWY5pCoZ1VWrxjg1zXqDBuYbAK2Pw1ogMOuXLAxdGxCe8pC1UHTfId6Kpa2eLC7uKrVeaCJNGT9M2oFKKfBG4w=w2400');
  ;
  animation: bg-animation 120s infinite alternate;
}










@keyframes bg-animation {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 100%;
  }
}


.hero-headline-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 4em 8em;
  text-align: center;
}



/* Project Page */

.project-wrapper {
  display: flex;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  padding: 1em;
}

.project-aside {
  width: 35vw;
  height: 40vh;
  position: -webkit-sticky;
  position: sticky;
  top: 5vh;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  padding: 1em;
}

.project-navigation {
  display: flex;
  flex-direction: row;
}

.arrow {
  padding-right: 1em;
}

.project-details {
  width: 60vw;
  min-height: 800vh;
  background-image: linear-gradient(-225deg,
      #ffffff 0%,
  padding: 1em;
}